@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    min-height: 100vh;
    height: 100%;
    background: #3F3C50;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    // padding: 2rem;
}

#toggler {
    position: fixed;
    bottom: 2%;
    right: 2%;
    background: orange;
    color: #FFF;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: .2s all ease-in-out;
    &:hover {
        transition: .2s all ease-in-out;
        cursor: pointer;
        transform: scale(1.1);
    }
}

#attribute {
    z-index: 999;
    min-height: 60vh;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    display: none;
    opacity: 0;
    transition: .2s all ease-in-out;
    padding: 2rem;

    img {
        max-width: 100%;
        width: 500px;
        height: auto;
    }

    a {
        color: orange;
        text-decoration: none;
    }
}

#attribute.active {
    display: flex;
    opacity: 1;
    transition: .2s all ease-in-out;
}

.dashboard {
    min-height: 100vh;
    height: 100%;
    min-width: 100vw;
    width: 100%;
    background: #201D2B;
    color: #eee;
    box-shadow: 10px 10px 40px #222;
    
    display: grid;
    
    border-radius: 15px;
    @media screen and (min-width: 1100px) {
        grid-template-columns: 18vw auto;
    }
}

.dashboard.active {
    filter: blur(20px);
}

.sidebar {
    position: fixed;
    min-height: 90vh;
    border-top-left-radius: 15px;

    width: none;
    display: none;

    @media screen and (min-width: 1100px) {
        width: 15vw;
        display: block;
    }


    .night-mode {
        /* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 25px;
        }
        
        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #2196F3;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            right: 4px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        input:checked + .slider {
            background-color: #363341;
        }
        
        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }
        
        input:checked + .slider:before {
            -webkit-transform: translateX(-26px);
            -ms-transform: translateX(-26px);
            transform: translateX(-26px);
        }
        
        /* Rounded sliders */
        .slider.round {
            border-radius: 14px;
        }
        
        .slider.round:before {
            border-radius: 50%;
        }
    }

    .line-break {
        border: 1px solid #34373C;
    }

    .heading {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 15px;
        margin-right: 3rem;

        // background: lightblue;
        // padding-right: 2rem; 

        .title {
            font-size: 1.25rem;
        }
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        .nav-menu {
            list-style: none;

                .nav-item {
                    margin: .5rem 0;
                    display: flex;;

                        .nav-link {
                            padding: .5rem;
                            text-transform: capitalize;
                            text-decoration: none;
                            font-weight: bold;
                            font-size: 1rem;
                            color: #7C7D8D;
                            transition: .2s all ease-in-out;

                            &:hover {
                            transition: .2s all ease-in-out;
                            color: #eee;
                            transform: scale(1.01);
                            }

                            &:hover .fas {
                            transition: .2s all ease-in-out;
                            background: orange;
                            }

                            .fas {
                                margin-right: .5rem;
                                background: #363341;
                                padding: .5rem;
                                font-size: .75rem;
                                border-radius: 10px;
                            }
                        }
                }
        }
    }
}

.content-grid {
    height: 100%;

    @media screen and (min-width: 1100px) {
        grid-column-start: 2;
    }
}

.header {
    height: 100px;
    border-top-right-radius: 15px;
    grid-template-columns: 1fr;
    display: grid;
    
    align-items: center;
    max-width: 400px;
    margin: 1rem auto;

    @media screen and (min-width: 960px) {
        grid-template-columns: 2fr 1fr 1fr 1fr;
        margin: 0;
        min-width: 100%
    }


    .left {

        input {
            border-radius: 7px;
            padding: .5rem;
            font-size: 1.05rem;
            background: #363341;
            border: 0;
            outline: 0;
            width: 100%;
            color: #eee;
            
        }
    }

    .spacer {
        // spacer for html
    }

    .right {
        align-items: center;
        display: flex;
        justify-content: center;

        .user-name {
            margin: 0 .5rem;
        }

        .fa-angle-down {
            color: #777;
            margin-left: .25rem;
            padding: .25rem;
            &:hover {
                cursor: pointer;
                color: #eee;
            }
        }

        .fa-bell {
            margin-left: 4rem;
            position: relative;
            padding: .25rem;
            &:hover {
                cursor: pointer;

            }

            &::after {
                content: "";
                position: absolute;
                top: 4px;
                right: 3px;
                height: 6px;
                width: 6px;
                border-radius: 50%;
                background: orangered;
            }
        }

        #portrait {
            margin: 0 .5rem;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

.lead-content {
    min-height: 400px;

    .second-featured {
        background-image: url('https://images.pexels.com/photos/1250643/pexels-photo-1250643.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    }
    .third-featured {
        background-image: url('https://images.pexels.com/photos/1332043/pexels-photo-1332043.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    }

    .container {
        // 

        .lead-title {
            font-size: 2rem;
            text-align: center;
            margin: 2rem 0;

            @media screen and (min-width: 960px) {
                margin: 0;
                text-align: initial;
            }
        }
    }

    .lead-content-grid {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 95%;
        margin: auto;
        grid-gap: 1rem;

        @media screen and (min-width: 1080px) {
            margin: 0;
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (min-width: 1500px) {
            margin: 0;
            grid-template-columns: 1fr 1fr 1fr;
        }

        
        .first-featured {
            margin: 1.25rem 0;
            max-width: 700px;
            width: 100%;
            height: 300px;
            background-image: url('https://images.pexels.com/photos/415176/pexels-photo-415176.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
            background-size: cover;
            background-position: center;
            border-radius: 20px;
            transition: .2s all ease-in-out;
            position: relative;
            &:hover {
                transform: translateY(-5px);
                transition: .2s all ease-in-out;
                transition-delay: .2s;
                z-index: 9;
                cursor: pointer;
            }

            .featured-title {
                color: #fff;
                mix-blend-mode: lighten;
                max-width: 45%;
                line-height: 1.6;
                margin: 1.5rem;
                font-size: 1.5rem;
                text-shadow: 1px 0 0 #333;
            }

            .featured-user {
                font-size: .9rem;
            }
            
            .video-info {
                display: flex;
                align-items: center;
                color: #fff;
                font-size: .75rem;

                .img-container {
                    margin: 1rem 1.5rem;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        border: 1px solid #ccc;
                        padding: 4px;
                    }
                }
            }

            .length-time {
                position: absolute;
                bottom: 15px;
                right: 15px;
                background: #252836bd;
                font-size: .7rem;
                border-radius: 8px;
                padding: .17rem .40rem;
            }
        }

        
    
        .second-featured,
        .third-featured {
            margin: 1.25rem auto;
            max-width: 400px;
            width: 100%;
            height: 300px;
            background-size: cover;
            background-position: center;
            border-radius: 20px;
            transition: .2s all ease-in-out;
            position: relative;

            @media screen and (min-width: 960px) {
                margin: 1.25rem 0;
            }

            
            &:hover {
                transform: translateY(-5px);
                transition: .2s all ease-in-out;
                transition-delay: .2s;
                z-index: 9;
                cursor: pointer;
            }
            

            .second-featured-title,
            .third-featured-title {
                color: #333;
                mix-blend-mode: darken;
                max-width: 60%;
                line-height: 1.5;
                margin: 1.5rem;
                font-size: 1.5rem;
            }

            .featured-user {
                font-size: .9rem;
                margin: .25rem 0;
            }

            .video-info {
                display: flex;
                flex-direction: column;
                align-items: left;
                color: #fff;
                margin: 0 1rem;
                font-size: .65rem;

                .img-container {

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        border: 1px solid #ccc;
                        padding: 4px;
                        margin: .5rem 0;
                    }
                }
            }
        }

        .length-time {
            position: absolute;
            bottom: 15px;
            right: 15px;
            background: #252836bd;
            font-size: .7rem;
            border-radius: 8px;
            padding: .17rem .40rem;
        }
    }
}

.sub-content {

    .container {
        max-width: 95%;

        .sub-title {
            font-size: 1.5rem;
            text-align: center;
            margin: 2rem 0;

            @media screen and (min-width: 960px) {
                margin: 0;
                text-align: initial;
            }
        }
    }

    .sub-content-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;

        @media screen and (min-width: 1080px) {
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (min-width: 1200px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .sub-featured {
            height: 250px;
            max-width: 400px;
            width: 100%;
            margin: auto;
            background: purple;
            margin-top: 1.25rem;
            border-radius: 15px;
            background: #252836;
            color: #eee;
            transition: .2s all ease-in-out;
            &:hover {
                transition: .2s all ease-in-out;
                transition-delay: .2s;
                transform: translateY(-5px);
                z-index: 9;
                cursor: pointer;
            }

            &:nth-child(1) .sub-featured-header {
                background-image: url('https://images.pexels.com/photos/2885940/pexels-photo-2885940.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
            }
            &:nth-child(2) .sub-featured-header {
                background-image: url('https://images.pexels.com/photos/3581981/pexels-photo-3581981.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
            }
            &:nth-child(3) .sub-featured-header {
                background-image: url('https://images.pexels.com/photos/2422264/pexels-photo-2422264.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
            }
            &:nth-child(4) .sub-featured-header {
                background-image: url('https://images.pexels.com/photos/340991/pexels-photo-340991.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
            }

            .sub-featured-header {
                height: 55%;
                width: 100%;    
                position: relative;
                background-size: cover;
                border-top-right-radius: 15px;
                border-top-left-radius: 15px;

                span {
                    font-size: .6rem;
                    color: #fff;
                    background: rgba(85, 85, 85, 0.795);
                    position: absolute;
                    top: 10px;
                    right: 5px;
                    padding: .2rem .5rem;
                    border-radius: 5px;
                }

                .sub-portrait-container {
                    position: absolute;
                    bottom: -25px;
                    right: 25px;

                    .fa-check-circle {
                        position: absolute;
                        bottom: 3px;
                        right: 3px;
                        font-size: 12px;
                        color: dodgerblue;
                        background-color: #eee;
                        border-radius: 50%;
                    }

                    .sub-featured-portrait {
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        padding: 3px;
                        border: 1px solid rgb(182, 182, 182);
                        object-fit: cover;
                    }
                }

                
            }

            footer {
                height: 45%;
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .sub-user-name {
                    color: #ccc;
                    margin: .75rem 0 0 1rem;
                    font-size: .75rem;

                    .fa-circle {
                        font-size: .37rem;
                        margin-left: .3rem;
                    }

                    .green {
                        color: green;
                    }
                    .orange {
                        color: orange;
                    }
                }
                .sub-description {
                    font-size: .80rem;
                    font-weight: bold;
                    margin: 0 1rem;
                }

                .sub-data-container {
                    font-size: .7rem;   
                    display: flex;
                    justify-content: flex-start;
                    margin: .5rem 1rem;
                    color: #75728a;
                }
            }
        }
    }
}