@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    min-height: 100vh;
    height: 100%;
    background: #3F3C50;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    max-width: 1300px;
    min-height: 90vh;
    width: 100%;
    height: 100%;
    background: #201D2B;
    color: #eee;
    border-radius: 15px;

    display: grid;
    grid-template-columns: 17vw auto;
}

.sidebar {
    position: fixed;
    width: 15vw;
    min-height: 90vh;
    border-top-left-radius: 15px;
    background: rgb(41, 32, 52);

    .heading {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 15px;

        // background: lightblue;
        // padding-right: 2rem; 

        .title {
            font-size: 1.25rem;
        }
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        .nav-menu {
            list-style: none;

                .nav-item {
                    margin: 1rem 0;
                    display: flex;;

                        .nav-link {
                            padding: .5rem;
                            text-transform: capitalize;
                            text-decoration: none;
                            font-weight: bold;
                            font-size: 1.15rem;
                            color: #eee;

                            span {
                                margin-right: .5rem;
                            }
                        }
                }
        }
    }
}

.content-grid {
    grid-column-start: 2;
    height: 100%;
}

.header {
    height: 100px;
    // background: blue;
    border-top-right-radius: 15px;

    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;

    .left {

        input {
            border-radius: 7px;
            padding: .5rem;
            font-size: 1.05rem;
            background: #363341;
            border: 0;
            outline: 0;
            width: 100%;
            color: #eee;
        }
    }

    .spacer {
        // spacer for html
    }

    .right {
        align-items: center;
        display: flex;
        justify-content: center;

        .user-name {
            margin: 0 .5rem;
        }

        .fa-angle-down {
            color: #777;
            margin-left: .25rem;
            &:hover {
                cursor: pointer;
            }
        }

        .fa-bell {
            margin-left: 4rem;
            position: relative;
            &:hover {
                cursor: pointer;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                height: 5px;
                width: 5px;
                border-radius: 50%;
                background: orangered;
            }
        }

        #portrait {
            margin: 0 .5rem;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

.lead-content {
    height: 400px;

    .container {
        // 

        .lead-title {
            font-size: 2rem;
        }
    }

    .lead-content-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 95%;

        .first-featured {
            margin: 1.25rem 0;
            width: 600px;
            height: 300px;
            background-image: url('https://images.pexels.com/photos/415176/pexels-photo-415176.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
            background-size: cover;
            background-position: center;
            border-radius: 20px;

            .featured-title {
                color: #FFF;
                max-width: 35%;
                line-height: 1.6;
                margin: 1.5rem;
                font-size: 1.5rem;
            }
            
            .video-info {
                display: flex;
                align-items: center;

                .img-container {
                    margin: 1rem 1.5rem;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        border: 1px solid #ccc;
                        padding: 4px;
                    }
                }
            }
        }
    
        .second-featured {
            margin: 1.25rem;
            width: 90%;
            height: 300px;
            background-image: url('https://images.pexels.com/photos/1250643/pexels-photo-1250643.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
            background-size: cover;
            background-position: center;
            border-radius: 20px;

            .second-featured-title {
                color: #333;
                max-width: 45%;
                line-height: 1.6;
                margin: 1.5rem;
                font-size: 1.5rem;
            }

            .video-info {
                display: flex;;
                align-items: center;

                .dot {
                    
                }

                .img-container {
                    margin: 1rem 1.5rem;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        border: 1px solid #ccc;
                        padding: 4px;
                    }
                }
            }
        }
    }
}

.sub-content {

    .container {
        max-width: 95%;

        .sub-title {
            font-size: 1.5rem;
        }
    }

    .sub-content-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;

        .sub-featured {
            height: 240px;
            background: purple;
            margin-top: 1.25rem;
            border-radius: 15px;
            padding: .25rem;

            header {

            }

            footer {
                
            }
        }
    }
}