@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    min-height: 100vh;
    height: 100%;
    background: #3F3C50;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    max-width: 1300px;
    min-height: 90vh;
    width: 100%;
    height: 100%;
    background: #201D2B;
    color: #eee;
    border-radius: 15px;

    display: grid;
    grid-template-columns: 17vw auto;
}

.sidebar {
    position: fixed;
    width: 15vw;
    min-height: 90vh;
    border-top-left-radius: 15px;
    background: rgb(41, 32, 52);

    .night-mode {
        /* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 25px;
        }
        
        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #2196F3;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            right: 4px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        input:checked + .slider {
            background-color: #363341;
        }
        
        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }
        
        input:checked + .slider:before {
            -webkit-transform: translateX(-26px);
            -ms-transform: translateX(-26px);
            transform: translateX(-26px);
        }
        
        /* Rounded sliders */
        .slider.round {
            border-radius: 14px;
        }
        
        .slider.round:before {
            border-radius: 50%;
        }
    }

    .line-break {
        border: 1px solid #34373C;
    }

    .heading {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 15px;

        // background: lightblue;
        // padding-right: 2rem; 

        .title {
            font-size: 1.25rem;
        }
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        .nav-menu {
            list-style: none;

                .nav-item {
                    margin: .35rem 0;
                    display: flex;;

                        .nav-link {
                            padding: .5rem;
                            text-transform: capitalize;
                            text-decoration: none;
                            font-weight: bold;
                            font-size: 1.15rem;
                            color: #7C7D8D;
                            transition: .2s all ease-in-out;

                            &:hover {
                            transition: .2s all ease-in-out;
                            color: #eee;
                            }

                            &:hover .fas {
                            transition: .2s all ease-in-out;
                            background: orange;
                            }

                            .fas {
                                margin-right: .5rem;
                                background: #363341;
                                padding: .5rem;
                                font-size: .75rem;
                                border-radius: 10px;
                            }
                        }
                }
        }
    }
}

.content-grid {
    grid-column-start: 2;
    height: 100%;
}

.header {
    height: 100px;
    // background: blue;
    border-top-right-radius: 15px;

    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;

    .left {

        input {
            border-radius: 7px;
            padding: .5rem;
            font-size: 1.05rem;
            background: #363341;
            border: 0;
            outline: 0;
            width: 100%;
            color: #eee;
        }
    }

    .spacer {
        // spacer for html
    }

    .right {
        align-items: center;
        display: flex;
        justify-content: center;

        .user-name {
            margin: 0 .5rem;
        }

        .fa-angle-down {
            color: #777;
            margin-left: .25rem;
            padding: .25rem;
            &:hover {
                cursor: pointer;
                color: #eee;
            }
        }

        .fa-bell {
            margin-left: 4rem;
            position: relative;
            &:hover {
                cursor: pointer;

            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                height: 6px;
                width: 6px;
                border-radius: 50%;
                background: orangered;
            }
        }

        #portrait {
            margin: 0 .5rem;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

.lead-content {
    height: 400px;

    .container {
        // 

        .lead-title {
            font-size: 2rem;
        }
    }

    .lead-content-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 95%;

        .first-featured {
            margin: 1.25rem 0;
            width: 600px;
            height: 300px;
            background-image: url('https://images.pexels.com/photos/415176/pexels-photo-415176.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
            background-size: cover;
            background-position: center;
            border-radius: 20px;

            .featured-title {
                color: #fff;
                mix-blend-mode: lighten;
                max-width: 35%;
                line-height: 1.6;
                margin: 1.5rem;
                font-size: 1.5rem;
            }
            
            .video-info {
                display: flex;
                align-items: center;
                color: #fff;

                .img-container {
                    margin: 1rem 1.5rem;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        border: 1px solid #ccc;
                        padding: 4px;
                    }
                }
            }
        }
    
        .second-featured {
            margin: 1.25rem;
            width: 90%;
            height: 300px;
            background-image: url('https://images.pexels.com/photos/1250643/pexels-photo-1250643.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
            background-size: cover;
            background-position: center;
            border-radius: 20px;

            .second-featured-title {
                color: #333;
                mix-blend-mode: darken;
                max-width: 50%;
                line-height: 1.5;
                margin: 1.5rem;
                font-size: 1.5rem;
            }

            .video-info {
                display: flex;
                flex-direction: column;
                align-items: left;
                color: #fff;
                margin: 0 1rem;
                font-size: .8rem;

                .img-container {

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        border: 1px solid #ccc;
                        padding: 4px;
                    }
                }
            }
        }
    }
}

.sub-content {

    .container {
        max-width: 95%;

        .sub-title {
            font-size: 1.5rem;
        }
    }

    .sub-content-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;

        .sub-featured {
            height: 240px;
            background: purple;
            margin-top: 1.25rem;
            border-radius: 15px;
            background: #252836;
            color: #eee;

            header {
                height: 55%;
                width: 100%;
                position: relative;
                background-image: url('https://images.pexels.com/photos/1503009/pexels-photo-1503009.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
                background-size: cover;
                border-top-right-radius: 15px;
                border-top-left-radius: 15px;

                span {
                    font-size: .65rem;
                    color: #fff;
                    background: rgba(85, 85, 85, 0.795);
                    position: absolute;
                    top: 10px;
                    right: 5px;
                    padding: .2rem .5rem;
                    border-radius: 5px;
                }

                .sub-portrait-container {
                    position: absolute;
                    bottom: -25px;
                    right: 25px;

                    .fa-check-circle {
                        position: absolute;
                        bottom: 3px;
                        right: 3px;
                        font-size: 12px;
                        color: dodgerblue;
                        background-color: #eee;
                        border-radius: 50%;
                    }

                    .sub-featured-portrait {
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        padding: 3px;
                        border: 1px solid rgb(182, 182, 182);
                    }
                }

                
            }

            footer {
                height: 45%;
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .sub-user-name {
                    color: #ccc;
                    margin: .75rem 0 0 1rem;
                    font-size: .75rem;

                    .fa-circle {
                        font-size: .37rem;
                        margin-left: .3rem;
                    }

                    .green {
                        color: green;
                    }
                    .orange {
                        color: orange;
                    }
                }
                .sub-description {
                    font-size: .80rem;
                    font-weight: bold;
                    margin: 0 1rem;
                }

                .sub-data-container {
                    font-size: .7rem;   
                    display: flex;
                    justify-content: flex-start;
                    margin: .5rem 1rem;
                    color: #75728a;
                }
            }
        }
    }
}