@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  min-height: 100vh;
  height: 100%;
  background: #3F3C50;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard {
  max-width: 1300px;
  min-height: 90vh;
  width: 100%;
  height: 100%;
  background: #201D2B;
  color: #eee;
  border-radius: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 17vw auto;
      grid-template-columns: 17vw auto;
}

.sidebar {
  position: fixed;
  width: 15vw;
  min-height: 90vh;
  border-top-left-radius: 15px;
  background: #292034;
}

.sidebar .night-mode {
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}

.sidebar .night-mode .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.sidebar .night-mode .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sidebar .night-mode .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.sidebar .night-mode .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  right: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.sidebar .night-mode input:checked + .slider {
  background-color: #363341;
}

.sidebar .night-mode input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

.sidebar .night-mode input:checked + .slider:before {
  -webkit-transform: translateX(-26px);
  transform: translateX(-26px);
}

.sidebar .night-mode .slider.round {
  border-radius: 14px;
}

.sidebar .night-mode .slider.round:before {
  border-radius: 50%;
}

.sidebar .line-break {
  border: 1px solid #34373C;
}

.sidebar .heading {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-left-radius: 15px;
}

.sidebar .heading .title {
  font-size: 1.25rem;
}

.sidebar .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .nav .nav-menu {
  list-style: none;
}

.sidebar .nav .nav-menu .nav-item {
  margin: .35rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar .nav .nav-menu .nav-item .nav-link {
  padding: .5rem;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.15rem;
  color: #7C7D8D;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.sidebar .nav .nav-menu .nav-item .nav-link:hover {
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  color: #eee;
}

.sidebar .nav .nav-menu .nav-item .nav-link:hover .fas {
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  background: orange;
}

.sidebar .nav .nav-menu .nav-item .nav-link .fas {
  margin-right: .5rem;
  background: #363341;
  padding: .5rem;
  font-size: .75rem;
  border-radius: 10px;
}

.content-grid {
  -ms-grid-column: 2;
      grid-column-start: 2;
  height: 100%;
}

.header {
  height: 100px;
  border-top-right-radius: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 2fr;
      grid-template-columns: 2fr 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .left input {
  border-radius: 7px;
  padding: .5rem;
  font-size: 1.05rem;
  background: #363341;
  border: 0;
  outline: 0;
  width: 100%;
  color: #eee;
}

.header .right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .right .user-name {
  margin: 0 .5rem;
}

.header .right .fa-angle-down {
  color: #777;
  margin-left: .25rem;
  padding: .25rem;
}

.header .right .fa-angle-down:hover {
  cursor: pointer;
  color: #eee;
}

.header .right .fa-bell {
  margin-left: 4rem;
  position: relative;
}

.header .right .fa-bell:hover {
  cursor: pointer;
}

.header .right .fa-bell::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: orangered;
}

.header .right #portrait {
  margin: 0 .5rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.lead-content {
  height: 400px;
}

.lead-content .container .lead-title {
  font-size: 2rem;
}

.lead-content .lead-content-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  max-width: 95%;
}

.lead-content .lead-content-grid .first-featured {
  margin: 1.25rem 0;
  width: 600px;
  height: 300px;
  background-image: url("https://images.pexels.com/photos/415176/pexels-photo-415176.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.lead-content .lead-content-grid .first-featured .featured-title {
  color: #fff;
  mix-blend-mode: lighten;
  max-width: 35%;
  line-height: 1.6;
  margin: 1.5rem;
  font-size: 1.5rem;
}

.lead-content .lead-content-grid .first-featured .featured-user {
  font-size: .9rem;
}

.lead-content .lead-content-grid .first-featured .video-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: .75rem;
}

.lead-content .lead-content-grid .first-featured .video-info .img-container {
  margin: 1rem 1.5rem;
}

.lead-content .lead-content-grid .first-featured .video-info .img-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #ccc;
  padding: 4px;
}

.lead-content .lead-content-grid .second-featured {
  margin: 1.25rem;
  width: 90%;
  height: 300px;
  background-image: url("https://images.pexels.com/photos/1250643/pexels-photo-1250643.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.lead-content .lead-content-grid .second-featured .second-featured-title {
  color: #333;
  mix-blend-mode: darken;
  max-width: 50%;
  line-height: 1.5;
  margin: 1.5rem;
  font-size: 1.5rem;
}

.lead-content .lead-content-grid .second-featured .featured-user {
  font-size: .9rem;
  margin: .25rem 0;
}

.lead-content .lead-content-grid .second-featured .video-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  color: #fff;
  margin: 0 1rem;
  font-size: .65rem;
}

.lead-content .lead-content-grid .second-featured .video-info .img-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #ccc;
  padding: 4px;
  margin: .5rem 0;
}

.sub-content .container {
  max-width: 95%;
}

.sub-content .container .sub-title {
  font-size: 1.5rem;
}

.sub-content .sub-content-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.sub-content .sub-content-grid .sub-featured {
  height: 240px;
  background: purple;
  margin-top: 1.25rem;
  border-radius: 15px;
  background: #252836;
  color: #eee;
}

.sub-content .sub-content-grid .sub-featured header {
  height: 55%;
  width: 100%;
  position: relative;
  background-image: url("https://images.pexels.com/photos/1503009/pexels-photo-1503009.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.sub-content .sub-content-grid .sub-featured header span {
  font-size: .65rem;
  color: #fff;
  background: rgba(85, 85, 85, 0.795);
  position: absolute;
  top: 10px;
  right: 5px;
  padding: .2rem .5rem;
  border-radius: 5px;
}

.sub-content .sub-content-grid .sub-featured header .sub-portrait-container {
  position: absolute;
  bottom: -25px;
  right: 25px;
}

.sub-content .sub-content-grid .sub-featured header .sub-portrait-container .fa-check-circle {
  position: absolute;
  bottom: 3px;
  right: 3px;
  font-size: 12px;
  color: dodgerblue;
  background-color: #eee;
  border-radius: 50%;
}

.sub-content .sub-content-grid .sub-featured header .sub-portrait-container .sub-featured-portrait {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 3px;
  border: 1px solid #b6b6b6;
}

.sub-content .sub-content-grid .sub-featured footer {
  height: 45%;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub-content .sub-content-grid .sub-featured footer .sub-user-name {
  color: #ccc;
  margin: .75rem 0 0 1rem;
  font-size: .75rem;
}

.sub-content .sub-content-grid .sub-featured footer .sub-user-name .fa-circle {
  font-size: .37rem;
  margin-left: .3rem;
}

.sub-content .sub-content-grid .sub-featured footer .sub-user-name .green {
  color: green;
}

.sub-content .sub-content-grid .sub-featured footer .sub-user-name .orange {
  color: orange;
}

.sub-content .sub-content-grid .sub-featured footer .sub-description {
  font-size: .80rem;
  font-weight: bold;
  margin: 0 1rem;
}

.sub-content .sub-content-grid .sub-featured footer .sub-data-container {
  font-size: .7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: .5rem 1rem;
  color: #75728a;
}
/*# sourceMappingURL=styles.css.map */